div.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
}

div.button-container img {
    height: 31px;
    width: 88px;
}

.ascii-flag {
    margin: 1rem;
}

main {
    position: relative;
}

#guestbook {
    background-color: #101;
    position: absolute;
    padding: 0;
    right: 0;
    z-index: 1;
}

#guestbook iframe { 
    height: 70rem;
    border: none;
    width: 30vw;
    transform: scaleX(1);
    transform-origin: right;
    transition: 1s;
}

#guestbook.hidden iframe {
    visibility: hidden;
    width: 0;
    transform: scaleX(0);
}

#guestbook button {
    background-color: #202;
    position: absolute;
    font-size: 1.1rem;
    border: double #fff 0.5rem;
    border-right: 0;
    writing-mode: vertical-rl;
    padding: 0.5rem;
    box-shadow: var(--std-shadow), inset var(--std-shadow);
    left: -3em;
}

#guestbook button::after {
    content: " ◄";
}

#guestbook button.close::after {
    content: " ►";
}

#intro {
    display: flex;
    align-items: center;
}

#intro > div {
    flex: 5;
}

#profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image: url("/resources/imgs/stars.gif");
    float: left;
    margin: 16px;
    box-shadow: var(--std-shadow);
    image-rendering: optimizeQuality;
}

#profile div {
    border: solid #fff 4px;
    overflow: hidden;
}

#icon img {
    animation: float 7s ease infinite;
    transform: translateY(4px);
    position: relative;
    width: 100%;
    filter: drop-shadow(0 0 2rem hsla(273, 86%, 40%, 50%));
}

@keyframes float {
    50% {transform: translateY(10px);}
}

#profile figcaption {
    border: solid #fff 2px;
    background-color: #212;
}


@media only screen and (max-width: 600px) {
    #intro {
        flex-direction: column;
    }
    #guestbook iframe {
        width: 75vw;
    }
}

